name: Test Grover Ruby gem

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.0']
        node-version: ['10']
        puppeteer-version: [
            '1.20.0',
            '2.1.1',
            '3.3.0',
            '4.0.1',
            '5.5.0',
            '6.0.0',
            '7.1.0',
            '8.0.0',
            '9.1.1',
            '10.4.0',
            '11.0.0',
            '12.0.1'
        ]
        include:
          - ruby-version: '2.6'
            node-version: '10'
            puppeteer-version: '12.0.1'
          - ruby-version: '2.7'
            node-version: '10'
            puppeteer-version: '12.0.1'
          - ruby-version: '3.1'
            node-version: '10'
            puppeteer-version: '12.0.1'
          - ruby-version: '3.0'
            node-version: '12'
            puppeteer-version: '12.0.1'
          - ruby-version: '3.0'
            node-version: '14'
            puppeteer-version: '12.0.1'

    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Puppeteer
        run: npm install puppeteer@${{ matrix.puppeteer-version }}

      - name: Lint code - Rubocop
        run: bundle exec rubocop

      - name: Run tests
        run: bundle exec rspec
        env:
          PUPPETEER_VERSION: ${{ matrix.puppeteer-version }}

      - name: Test & publish code coverage
        uses: paambaati/codeclimate-action@v3.0.0
        env:
          CC_TEST_REPORTER_ID: 5cfed40102c670b5c9e509730782b751939ddbe53fc57c317b718f635bab1ce8
