name: Test Grover Ruby gem

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CC_TEST_REPORTER_ID: 5cfed40102c670b5c9e509730782b751939ddbe53fc57c317b718f635bab1ce8

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      remote-chrome:
        image: browserless/chrome:latest
        ports:
          - 3000:3000
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ['4.0']
        node-version: ['18']
        puppeteer-version: [
          '22.15.0',
          '23.11.1',
          '24.10.2',
        ]
        include:
          - ruby-version: '3.0'
            node-version: '18'
            puppeteer-version: '24.10.2'
          - ruby-version: '3.1'
            node-version: '18'
            puppeteer-version: '24.10.2'
          - ruby-version: '3.2'
            node-version: '18'
            puppeteer-version: '24.10.2'
          - ruby-version: '3.3'
            node-version: '18'
            puppeteer-version: '24.10.2'
          - ruby-version: '3.4'
            node-version: '18'
            puppeteer-version: '24.10.2'
          - ruby-version: '3.4'
            node-version: '20'
            puppeteer-version: '24.10.2'
          - ruby-version: '3.4'
            node-version: '22'
            puppeteer-version: '24.10.2'
          - ruby-version: '3.4'
            node-version: '24'
            puppeteer-version: '24.10.2'
          - ruby-version: '4.0'
            node-version: '20'
            puppeteer-version: '24.10.2'
          - ruby-version: '4.0'
            node-version: '22'
            puppeteer-version: '24.10.2'
          - ruby-version: '4.0'
            node-version: '24'
            puppeteer-version: '24.10.2'

    steps:
      - uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Puppeteer
        run: npm install puppeteer@${{ matrix.puppeteer-version }}

      - name: Install Firefox
        if: ${{ matrix.puppeteer-version != '22.15.0' }}
        run: npx puppeteer browsers install firefox@stable

      - name: Install Imagemagick
        uses: mfinelli/setup-imagemagick@v5

      - name: Lint code - Rubocop
        run: bundle exec rubocop

      - name: Run tests
        run: bundle exec rspec
        env:
          PUPPETEER_VERSION: ${{ matrix.puppeteer-version }}
          GROVER_NO_SANDBOX: true

      - name: Run tests with remote browser
        run: bundle exec rspec --tag remote_browser
        env:
          PUPPETEER_VERSION: ${{ matrix.puppeteer-version }}
          GROVER_NO_SANDBOX: true
